html {
    --font: 'Georgia', 'Microsoft YaHei';
    --bg: #fefef9;
    --body-bg: #fefef9;
    --body-width: 600px;
    --text: #222;
    --headline: #444;
    --link: cornflowerblue;
    --code-bg: #f6f4e7;
    --code-block-bg: #fff;
    --code-block-border: #ddd;
    --mark-bg: #f6f4e7;
    --green-tip-bg: #EAFAF1;
    --red-tip-bg: #FDF2E9;
    --table-head-border: #b22222;
    --table-body-border: #ccc;
    --blockquote-text: #555;
    --blockquote-border: #8e8a6f;
    --blockquote-bg: #f8f5ef;
    --doc-tag-text: #8e8a6f;
    --doc-tag-bg: #f6f4e7;
}
h1::before {
    content: "# ";
    color: var(--table-head-border);
    font-weight: bold;
    font-family: 'Microsoft YaHei';
}
.avatar {
    width: 48px;
    border: 5px solid #F6F4E7;
}
.plugins-files-list .file-item:hover {
    background-color: var(--doc-tag-bg);
}
hr {
    border: 1px solid var(--blockquote-border);
}
