/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#f0f0f0;color:#444}.hljs-comment{color:#888}.hljs-punctuation,.hljs-tag{color:#444a}.hljs-tag .hljs-attr,.hljs-tag .hljs-name{color:#444}.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag{font-weight:700}.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{color:#800}.hljs-section,.hljs-title{color:#800;font-weight:700}.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#bc6060}.hljs-literal{color:#78a960}.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta .hljs-string{color:#4d99bf}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}

/***** quick mardown default style *****/
body {
    margin: 0 auto;
    padding-bottom: 3em;
}
code {
    background-color: rgba(27,31,35, .05);
    padding: 3px 5px;
    border-radius: 4px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace;
    font-size: .9em
}
pre.hljs {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: rgb(250, 250, 250);
    overflow-x: auto;
    line-height: 150%;
}
pre.hljs code {
    background-color: transparent;
    padding: 0;
}
p img {
    max-width: 100%;
}
mark {
    background-color: rgb(221,237,234);
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    border-radius: 3px;
}
p {
    line-height: 170%;
}
.tips {
    display: flex;
    margin: 10px 0;
    padding: 7px 20px;
    background-color: #EAFAF1;
}
.tips::before {
    content: "💡";
    font-size: 30px;
    padding-top: 10px;
    padding-right: 13px;
}
.warning {
    display: flex;
    margin: 10px 0;
    padding: 7px 20px;
    background-color: #FDF2E9;
}
.warning::before {
    content: "⚡";
    float: left;
    font-size: 30px;
    padding-top: 10px;
    padding-right: 13px;
}
li {
    line-height: 170%;
}
a {
    color: #21618C;
}
table {
    border-collapse: collapse;
}
thead tr {
    border-bottom: 2px solid #21618C;
}
thead th {
    padding: 10px;
}
td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
header {
    text-align: center;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1em;
}
iframe {
  border: none;
}
blockquote {
    border-left: 5px solid #ccc;
    padding: .1em 1em;
    background-color: #fafafa;
    margin: 1em 0;
    color: #555;
}
.plugins-files-list .file-item {
    margin: .5em 0;
    overflow: hidden;
}
.plugins-files-list .file-time {
    float: left;
    padding-right: 5px;
}
.plugins-files-list .file-tags {
    float: right;
}
.plugins-files-list .file-tag {
    background-color: #eee;
    padding: 3px;
    margin-right: 5px;
}
.doc-info {
    overflow: hidden;
    margin-bottom: 2em;
    margin-top: -.5em;
}
.doc-time {
    float: left;
    margin-right: 1em;
}
.doc-tags {
    float: left;
}
.doc-single-tag {
    margin-right: .5em;
    background-color: #21618C;
    color: #fefefe;
    padding: 0 .2em;
}
.doc-single-tag::before {
    content: '# '
}
